body,html {
  margin: 0;
  font-family: monospace;
  /* all em sizes: px / 10 */
  font-size: 10px;
}

/* navigation links styling */

nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.9);
}

ul {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

li {
  width: 10em;
  font-size: 1.5em;
  outline: none;
  text-align: center;
  line-height: 4;
  color: white;
  list-style-type: none;
}

#vertaal {
  background-color: rgba(255, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0);
}

#vertaal:hover {
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: white;
}

a:link, a:visited, a:focus {
}

a:hover {
  position: relative;
  bottom: 0.15em;
}

a:active {
  /* border: 1px solid white; */
}

/* rosetta stone idea styling  */

article {
  text-align: center;
}
h1 {
  font-size:5em;
}

p {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  font-size: 3em;
  color: white;
}

.over p {
  font-size: 1.5em;
}

.translation, .original {
  padding: 3em;
  margin: 5em;
  width: 40%;
}

.translation {
  position: relative;
  bottom: 1em;
  left: 2em;
  background-color: rgba(255, 0, 0, 0.9);
}

.original {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 255, 0.9);
}

.translation:hover {
  background-color: rgba(200, 0, 0, 1.0);
}

.original:hover {
  background-color: rgba(0, 0, 200, 1.0);
}
/* footer styling */
